{% extends 'base-back.html.twig' %}
{% block stylesheet %}
    <link rel="shortcut icon" href="{{ asset("admin/assets/images/favicon.ico") }}">

    <link href="{{ asset("admin/assets/libs/%40fullcalendar/core/main.min.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset("admin/assets/libs/%40fullcalendar/daygrid/main.min.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset("admin/assets/libs/%40fullcalendar/bootstrap/main.min.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset("admin/assets/libs/%40fullcalendar/timegrid/main.min.css") }}" rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="{{ asset("admin/assets/css/preloader.min.css") }}" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{{ asset("admin/assets/css/bootstrap.min.css") }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset("admin/assets/css/icons.min.css") }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset("admin/assets/css/app.min.css") }}" id="app-style" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}

                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tournoi</h1>

                        <div class="card mb-4">

                            <div class="card-body">

                                 <table class="table">
                                        <thead>
                                                   <tr>
                                                       <th>IdTournoi</th>
                                                       <th>NombreEquipe</th>
                                                       <th>Date</th>
                                                       <th>TypeJeu</th>
                                                       <th>Prix</th>
                                                       <th>actions</th>
                                                   </tr>
                                               </thead>
                                        <tfoot>
                                             <tr>
                                                                                                  <th>IdTournoi</th>
                                                                                                  <th>NombreEquipe</th>
                                                                                                  <th>Date</th>
                                                                                                  <th>TypeJeu</th>
                                                                                                  <th>Prix</th>
                                                                                                  <th>actions</th>
                                                                                              </tr>
                                        </tfoot>
                                <tbody>
                                {% for tournoi in tournois %}
                                    <tr>
                                        <td>{{ tournoi.idTournoi }}</td>
                                        <td>{{ tournoi.nombreEquipe }}</td>
                                        <td>{{ tournoi.date ? tournoi.date|date('Y-m-d') : '' }}</td>
                                        <td>{{ tournoi.typeJeu }}</td>
                                        <td>{{ tournoi.prix }}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('app_tournoi_show', {'idTournoi': tournoi.idTournoi}) }}">show</a>
                                            <a class="btn btn-secondary" href="{{ path('app_tournoi_edit', {'idTournoi': tournoi.idTournoi}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center">
                             {{ knp_pagination_render(tournois) }}
                            </div>

<div class="d-flex justify-content-center" >

                            <a class="btn btn-primary" href="{{ path('app_tournoi_new') }}">Create new</a>
                            <a class="btn btn-success" href="{{ path('createpdf') }}"><button class="btn"><i class="fa fa-folder"></i>IMPRIMER PDF</button></a>
                             <a class="btn btn-info" class="tg-btn" href="{{ path('export_tournoi') }}">Exporter Excel</a>
</div>
                            </div>
                        </div>
                    </div>

                </main>





{% endblock %}

{% block javascript %}
<script src="http://localhost:8000/admin/assets/libs/jquery/jquery.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/simplebar/simplebar.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/node-waves/waves.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="http://localhost:8000/admin/assets/libs/pace-js/pace.min.js"></script>

<script src="http://localhost:8000/admin/assets/libs/%40fullcalendar/core/main.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/%40fullcalendar/bootstrap/main.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/%40fullcalendar/daygrid/main.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/%40fullcalendar/timegrid/main.min.js"></script>
<script src="http://localhost:8000/admin/assets/libs/%40fullcalendar/interaction/main.min.js"></script>

<!-- Calendar init -->
<script src="http://localhost:8000/admin/assets/js/pages/calendar.init.js"></script>

<!-- App js -->
<script src="http://localhost:8000/admin/assets/js/app.js"></script>
{% endblock %}
