{% extends 'base-back.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <div class="container">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.typeproduit) }}
            </div>
            <div class="col">
                {{ form_row(form.fournisseur) }}
            </div>
            <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="dropdown-divider"></div>
    <form class="w-search">
        <div class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control" placeholder="Search">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><span class="fa arrow"></span></a>
                <ul style="background-color: #0b0b0b" class="nav " id="entitiesNav">
                </ul>
            </li>
        </ul>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>IdProduit</th>
                <th>TypeProduit</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Fournisseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% include 'Produit/Produitajax.html.twig' %}
        </tbody>
        <tbody id="seach">
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_produit_new') }}">Create new</a>
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
    </script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({
                    url : "{{ path('ajaxProduit') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}
