{% extends 'base-front.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset("assets-front/css/profil.css") }}">
    <link href="{{ asset("//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css") }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block title %}Utilisateur{% endblock %}

{% block titre %}
    Profil
{% endblock %}
{% block img %}
    "{{ asset("assets-front/img/images/breadcrumb_img03.png") }}"
{% endblock %}
{% block body %}
  {#  <h1>Profil de {{ app.user.prenom }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ utilisateur.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ utilisateur.password }}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ utilisateur.login }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>Best_game</th>
            <td>{{ utilisateur.bestGame }}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ utilisateur.code }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ utilisateur.image }}</td>
        </tr>
        </tbody>
    </table>#}

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ asset('uploads/images/' ~ app.user.image) }}" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h1 style="color: white">
                            {{ utilisateur.Prenom | upper }}
                        </h1>
                        <h6>
                            Web Developer and Designer
                        </h6>
                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a  class="profile-edit-btn" href="{{ path("app_utilisateur_edit", {'id' : utilisateur.id} ) }}" >Modifier Profil</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ utilisateur.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ utilisateur.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Equipe</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ utilisateur.equipe.nome }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Best Game</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ utilisateur.bestgame }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Verifié</label>
                                </div>
                                <div class="col-md-6">
                                    {% if utilisateur.isverified == 1  %}
                                    <p>OUI</p>
                                    {% else %}
                                    <p>NON</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>230</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset("//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js") }}"></script>
{% endblock %}
