{% extends 'base-front.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block titre %}
    Inscription
{% endblock %}
{% block img %}
    "{{ asset("assets-front/img/images/breadcrumb_img03.png") }}"
{% endblock %}
{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Best_game</th>
                <td>{{ utilisateur.bestGame }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ utilisateur.code }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ utilisateur.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_index') }}">back to list</a>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
