
<!doctype html>
<html class="no-js" lang="">
    
<!-- Mirrored from themepixer.com/demo/html/halda/halda/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Apr 2022 14:08:27 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Halda - eSports Gaming HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            
		<link rel="shortcut icon" type="image/x-icon" href="{{asset('halda/assets/img/favicon.png')}}">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="{{asset('halda/assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/animate.min.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/nice-select.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/flaticon.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/odometer.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/slick.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/default.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('halda/assets/css/responsive.css')}}">
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    <div class="loader-outter"></div>
                    <div class="loader-inner"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <main>

         






<title>New Commande</title>

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('commande/_form.html.twig') }}

{% endblock %}











         

               

        <!-- footer-area -->
        <footer>
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="footer-menu-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="f-logo">
                                    <a href="{{asset('halda/index-2.html')}}"><img src="{{asset('halda/assets/img/logo/logo.png')}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="footer-menu">
                                    <nav>
                                        <ul class="navigation">
                                            <li><a href="{{asset('halda/index-2.html')}}">HOME</a></li>
                                            <li><a href="{{asset('halda/about-us.html')}}">ABOUT US</a></li>
                                            <li><a href="{{asset('halda/tournaments.html')}}">TOURNAMENT</a></li>
                                            <li><a href="{{asset('halda/blog.html')}}">BLOG</a></li>
                                            <li><a href="{{asset('halda/contact.html')}}">PAGES</a></li>
                                            <li><a href="{{asset('halda/contact.html')}}">CONTACT</a></li>
                                        </ul>
                                        <div class="footer-search">
                                            <form action="#">
                                                <input type="text" placeholder="Find Here Now">
                                                <button><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-quick-link-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8">
                                <div class="quick-link-list">
                                    <ul>
                                        <li><a href="{{asset('halda/contact.html')}}">FAQ</a></li>
                                        <li><a href="{{asset('halda/contact.html')}}">Help Center</a></li>
                                        <li><a href="{{asset('halda/contact.html')}}">Terms of Use</a></li>
                                        <li><a href="{{asset('halda/contact.html')}}">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4">
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p>Copyright © 2022 All Rights Reserved By <span>halda</span></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="copyright-img text-center text-md-end">
                                <img src="{{asset('halda/assets/img/images/cart_img.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->






		<!-- JS here -->
        <script src="{{asset('halda/assets/js/vendor/jquery-3.6.0.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.odometer.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.countdown.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.ba-throttle-debounce.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.knob.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery-countdowngampang.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/jquery.appear.js')}}"></script>
        <script src="{{asset('halda/assets/js/parallax.js')}}"></script>
        <script src="{{asset('halda/assets/js/slick.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/wow.min.js')}}"></script>
        <script src="{{asset('halda/assets/js/main.js')}}"></script>
    </body>

<!-- Mirrored from themepixer.com/demo/html/halda/halda/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Apr 2022 14:09:42 GMT -->
</html>
