<!doctype html>
<html class="no-js" lang="">
    
<!-- Mirrored from themepixer.com/demo/html/halda/halda/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Apr 2022 14:08:27 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ELAAB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/img/favicon.png')}}">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        {% block css %}
        





<style>
	/* =============================== CHATBOT ============================= */
.nodeco {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
	.nodeco:hover {
		background: none;
	color: #20c997;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	}
	.nodeco:active {
		background: none;
	color: green;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	}
.open-button {
  
 
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 280px;
}


/* CSS */
.open-button,
.open-button:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #20c997 5%);
  border: 0;
  color: #fff;
   z-index: 1;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.open-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #20c997 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.open-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .open-button,
  .open-button:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #74245f;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 420px;
  padding: 10px;
  background: rgba(207,102,180, 0.8);

}
/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: red;
  outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #fdb819; 
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 
 
.containe{
	width : 400px ; 
	height : 400px ; 
	overflow : auto ; 
	border : 1px solid #BF996B ; 
}
.bot {
	background-image: linear-gradient(to bottom right, #F30DFF,#7006C7); 
	border-radius : 15px ; 
	padding : 4px ; 
	width : 300px ;
	color : white ;
	margin : 2px ;
	border-top-left-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.botSender {
	background : #0D8BFB ;
	border-radius : 10px ; 
	padding : 4px 6px 4px 6px ; 
	border : 2px solid black ; 
	margin : 2px ; 
	font-size: 15px; 
 	font-family : Mark\ Pro,sans-serif;
	
}
.botSender:hover {
	background : rgba(19, 173, 234, 1) ;
	border-radius : 10px ; 
	padding : 4px 6px 4px 6px ;  
	border : 1px solid black ; 
	margin : 2px ; 
	font-size: 15px; 
 	font-family : Mark\ Pro,sans-serif;
}
.botText {	
	margin : 2px ; 
	color : black ;
	font-size: 16px; 
 	font-family : Mark\ Pro,sans-serif; 
}
/* ============== CLIENT ================ */
.client {
	background-image: linear-gradient(to bottom right, #FDFCE9,#0B58E3); 
	border-radius : 15px ; 
	padding : 4px ; 
	width : 300px ;
	color : black ;
	margin : 8px ; 
	border-top-right-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 
}
.cancelButton {
	padding : 0px 8px 0px 8px ;
	border : 1px solid black ; 
	background-color : red; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 
	background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2); 
}
.cancelButton:hover {
	padding : 0px 8px 0px 8px ;
	border : 1px solid black ; 
	background-color : red; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 
	background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2); 
}
 
</style>

<button class="open-button" onclick="openForm()">ChatBot</button>

<div class="chat-popup" id="myForm">
	<div action="/action_page.php" class="form-container">
		<button class="nodeco cancelButton" onclick="closeForm()">
			  -  
		</button>

		
		<table style="width :60% ; ">
			<tr>
				<td valign="center" align="left"><img style="width : 26px ; height : 40px" src="https://www.pngall.com/wp-content/uploads/10/Ethereum-Logo-PNG-HD-Image.png"></td>
				<td valign="center">
					<h4 >ELAAB CHATBOT</h4>
				</td>
				
			</tr>
		</table>


		<label for="msg">
			<b> </b>
		</label>
		<!--textarea placeholder="Type message.." name="msg" required></textarea-->

		<div class="containe" id="chat">

			<div class="bot">
				<div class="botText">
					Hello dear, how can we help you ?
				</div>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="1" id="StoreLocator">Where are we located? </button>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="2" id="Products">How to publish a topic ?</button>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="3" id="EventPublish">How to Comment ?</button>		
				<button class="nodeco botSender" onclick="botReply(this.value)" value="4" id="TechNews">Want some News ?</button>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="5" id="Music">Try Our New QrMusic Generator 🎧🎧 </button>

			</div>
 			
 			



		</div>

		<div style="height : 40px ; ">
			 
		</div>
	</div>
</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
	function openForm() {
		document.getElementById("myForm").style.display = "block";
	}
	function closeForm() {
		document.getElementById("myForm").style.display = "none";
	}
	function botReply(value) {
		if (value==1) {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');
			var message = document.createElement("div");
			message.classList.add('botText');
			var text2 = document.getElementById("StoreLocator").innerHTML ; 
			var text = document.createTextNode(text2);
			message.appendChild(text);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	
			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 
			// ======== bot =================
			var containe = document.createElement("div");
			containe.classList.add('bot');
			var message = document.createElement("div");
			message.classList.add('botText'); 
			var text = document.createTextNode("Find us here : ");
			message.appendChild(text);
			var a = document.createElement('a');
			var linkText = document.createTextNode("Store Locator");
			a.appendChild(linkText);
			//a.title = "my title text";
			a.href = "https://www.google.com/maps/place/ESPRIT/@36.8992878,10.1893674,17z/data=!3m1!4b1!4m5!3m4!1s0x12e2cb7454c6ed51:0x683b3ab5565cd357!8m2!3d36.8992878!4d10.1893674";
			a.style="color : white ; " ;  
			message.appendChild(a);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);
			
		} else if (value=="2") {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');
			var message = document.createElement("div");
			message.classList.add('botText');
			var text2 = document.getElementById("Products").innerHTML ; 
			var text = document.createTextNode(text2);
			message.appendChild(text);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	
			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 
			// ======== bot =================
			var containe = document.createElement("div");
			containe.classList.add('bot');
			var message = document.createElement("div");
			message.classList.add('botText'); 
			var text = document.createTextNode("Go to BlogDetails Click on Post Publication You want To try it now Click Below : ");
			message.appendChild(text);
			var a = document.createElement('a');
			var linkText = document.createTextNode("Click Me");
			a.appendChild(linkText);
			//a.title = "my title text";
			a.href = "{{ path('app_pubb_new') }}";
			a.style="color : white ; " ;  
			message.appendChild(a);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);
			
 
		} else if (value=="3") {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');
			var message = document.createElement("div");
			message.classList.add('botText');
			var text2 = document.getElementById("EventPublish").innerHTML ; 
			var text = document.createTextNode(text2);
			message.appendChild(text);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	
			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 
			// ======== bot =================
			var containe = document.createElement("div");
			containe.classList.add('bot');
			var message = document.createElement("div");
			message.classList.add('botText'); 
			var text = document.createTextNode("Go to BlogDetails Find the topic that you want to put ur comment on Then press on the icon of comment. Try it now ?");
			message.appendChild(text);
			var a = document.createElement('a');
			var linkText = document.createTextNode("Click Me ");
			a.appendChild(linkText);
			//a.title = "my title text";
			a.href = "{{ path('commentaire') }}";
			a.style="color : white ; " ;  
			message.appendChild(a);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);
		} else if (value=="4") {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');
			var message = document.createElement("div");
			message.classList.add('botText');
			var text2 = document.getElementById("TechNews").innerHTML ; 
			var text = document.createTextNode(text2);
			message.appendChild(text);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	
			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 
			// ======== bot =================
			const settings = {
				"async": true,
				"crossDomain": true,
				"url": "https://tech-news3.p.rapidapi.com/venturebeat",
				"method": "GET",
				"headers": {
					"x-rapidapi-host": "tech-news3.p.rapidapi.com",
					"x-rapidapi-key": "0df9a64d4dmshef637b6555ab817p197c06jsn23b1172de7c8"
				}
			};
			$.ajax(settings).done(function (response) {
				var containe = document.createElement("div");
				containe.classList.add('bot');
				var message = document.createElement("div");
				message.classList.add('botText'); 
				let x = Math.floor((Math.random() * 20) + 1);
				var text = document.createTextNode(response[x]['title']);
				message.appendChild(text);
	 
				containe.appendChild(message);
				var element = document.getElementById("chat");
				element.appendChild(containe);
			});
			
		} else if  (value=="5"){
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');
			var message = document.createElement("div");
			message.classList.add('botText');
			var text2 = document.getElementById("Music").innerHTML ; 
			var text = document.createTextNode(text2);
			message.appendChild(text);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	
			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 
			// ======== bot =================
			var containe = document.createElement("div");
			containe.classList.add('bot');
			var message = document.createElement("div");
			message.classList.add('botText'); 
			var text = document.createTextNode("We Developped a QrCode Genarator to Let you listen To your favorite Music 💓 Want To Try IT ? :        ");
			message.appendChild(text);
			var a = document.createElement('a');
			var linkText = document.createTextNode("Click Me 🎧🎧 ");
			a.appendChild(linkText);
			//a.title = "my title text";
			a.href = "{{ path('homepage') }}";
			a.style="color : white ; " ;  
			message.appendChild(a);
			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);
		}
		
	}
</script>
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/animate.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/nice-select.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/flaticon.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/odometer.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/slick.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/default.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">

        
        {% endblock css %}
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    <div class="loader-outter"></div>
                    <div class="loader-inner"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header>
            <div id="header-top-fixed"></div>
            <div id="sticky-header" class="menu-area">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav show">
                                    <div class="logo">
                                        <a href="{{path('home')}}"><img src="{{asset('assets/img/logo/logo.png')}}" alt=""></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class="menu-item-has-children"><a href="{{path('home')}}">Home</a>
                                                <ul class="sub-menu">
                                                    <li class="active"><a href="{{path('home')}}">Home One</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="tournaments.html">Tournament</a></li>
                                            <li class="menu-item-has-children"><a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="{{ path('app_pubb_index') }}">Our Blog</a></li>
                                                    <li><a href="{{ path('commentaire') }}">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="our-squad.html">Our Squad</a></li>
                                                    <li><a href="match-single.html">Match Single</a></li>
                                                    <li><a href="shop.html">Our Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action">
                                        <ul>
                                            <li class="header-search">
                                                <a href="#"><i class="fas fa-search"></i></a>
                                            </li>
                                            <li class="header-sine">
                                                <a href="contact.html"><i class="far fa-edit"></i>log-in</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo"><a href="{{path('home')}}"><img src="assets/img/logo/logo.png" alt="" title=""></a>
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
                <div class="header-icon">
                    <a href="#" class="menu-tigger"><img src="assets/img/icon/hader_icon.png" alt=""></a>
                </div>
            </div>
            <!-- header-search -->
            <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="search-close">
                    <span><i class="fas fa-times"></i></span>
                </div>
                <div class="search-wrap text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="title">... Search Here ...</h2>
                                <div class="search-form">
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Type keywords here">
                                        <button class="search-btn"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-search-end -->

            <!-- offCanvas-menu -->
            <div class="extra-info">
                <div class="close-icon menu-close">
                    <button><i class="far fa-window-close"></i></button>
                </div>
                <div class="logo-side mb-30">
                    <a href="{{path('home')}}"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                </div>
                <div class="side-info mb-30">
                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>123/A, Miranda City Likaoli <br> Prikano, Dope</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p>+216 53 344 511</p>
                        
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p>rayenharhouri@example.com</p>
                        <p>rayenharhouri@hum.com</p>
                    </div>
                </div>
                <ul class="side-instagram">
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta01.jpg" alt=""></a></li>
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta02.jpg" alt=""></a></li>
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta03.jpg" alt=""></a></li>
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta04.jpg" alt=""></a></li>
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta05.jpg" alt=""></a></li>
                    <li><a href="our-squad.html"><img src="assets/img/images/sd_insta06.jpg" alt=""></a></li>
                </ul>
                <div class="social-icon-right mt-30">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="offcanvas-overly"></div>
            <!-- offCanvas-menu-end -->

        </header>
            {% block body %} {% endblock %}
        <!-- footer-area -->
        <footer>
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="footer-menu-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="f-logo">
                                    <a href="{{path('home')}}"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="footer-menu">
                                    <nav>
                                        <ul class="navigation">
                                            <li><a href="index-2.html">HOME</a></li>
                                            <li><a href="about-us.html">ABOUT US</a></li>
                                            <li><a href="tournaments.html">TOURNAMENT</a></li>
                                            <li><a href="{{ path('app_pubb_index') }}">BLOG</a></li>
                                            <li><a href="contact.html">PAGES</a></li>
                                            <li><a href="contact.html">CONTACT</a></li>
                                        </ul>
                                        <div class="footer-search">
                                            <form action="#">
                                                <input type="text" placeholder="Find Here Now">
                                                <button><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-quick-link-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8">
                                <div class="quick-link-list">
                                    <ul>
                                        <li><a href="contact.html">FAQ</a></li>
                                        <li><a href="contact.html">Help Center</a></li>
                                        <li><a href="contact.html">Terms of Use</a></li>
                                        <li><a href="contact.html">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4">
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p>Copyright © 2022 All Rights Reserved By <span>Rayen Harhouri</span></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="copyright-img text-center text-md-end">
                                <img src="assets/img/images/cart_img.png"'}} alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->






		<!-- JS here -->
        {% block js %}
        <script src="{{asset('assets/js/vendor/jquery-3.6.0.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.odometer.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.countdown.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.ba-throttle-debounce.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.knob.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery-countdowngampang.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.appear.js')}}"></script>
        <script src="{{asset('assets/js/parallax.js')}}"></script>
        <script src="{{asset('assets/js/slick.min.js')}}"></script>
        <script src="{{asset('assets/js/wow.min.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
        {% endblock %}

    </body>


</html>
